@import '../../Base.scss';
.sidebar{
background: $black-primary;

display: flex;
flex-direction: column;
width: 20vw;
height: 90vh;
padding-top: 8rem;
padding-left: 20px;
font-size: 45px;

li{
    // border: 2px solid violet;
    display: flex;
    gap: 11px;
    align-items: center;
    padding: 0.6rem 1.9rem ;
    margin: 2.2rem 0;
    cursor: pointer;
    font-size: 55px;

    span{
    // border: 2px solid white; 
    text-transform: capitalize;
    margin-left: 19px;
    font-weight: 800;
    letter-spacing: 0.4px;
    }

    &:hover{
        background-color:$border-color;
    }
}
hr{
    font-size: 12px;
    background-color: $border-color;
}
}


// responsive code by chatgpt
/* Media query for smaller screens, adjust as needed */
@media (max-width:$breakpoint-medium) {
    .sidebar {
      width: 90px;
      li{
        justify-content: center;

        span{
            display:none;
        }
        
      }
      

    }   
}

@media (max-width:$breakpoint-small){
    .sidebar{
        display: none;
    }
}





